@font-face {
    font-family: 'versaversa';
    src: url('../fonts/versa-versa-webfont.woff2') format('woff2'),
        url('../fonts/versa-versa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'versaversa',Arial, sans-serif;

}

body {
    width: auto;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'versaversa', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    /*
    background: url("../img/retro_wallpaper.jpg") fixed;
    background-size: 1920px 1080px;
    */
}

footer {
    width: auto;
    height: 20%;
    margin: auto;
    color: rgb(124, 82, 27);
    background-color:  rgb(206, 145, 65);
}

.panel {
    display: grid;
    width: 50%;
    margin: auto;
    height: auto;
    margin-top: 25px;
    padding: 25px 25px;
    border: 10px rgb(9, 38, 61) solid;
    text-align: center;
    justify-content: space-evenly;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    column-gap: 40px;
    row-gap: 40px;
    background-color: rgba(27, 49, 252, 0.377);

}
.item1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item2 {
    grid-column: 2;
    grid-row: 1;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item3 {
    grid-column: 3;
    grid-row: 1;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item4 {
    grid-column: 4;
    grid-row: 1;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item5 {
    grid-column: 1;
    grid-row: 2;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item6 {
    grid-column: 2;
    grid-row: 2;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item7 {
    grid-column: 3;
    grid-row: 2;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item8 {
    grid-column: 4;
    grid-row: 2;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item9 {
    grid-column: 1;
    grid-row: 3;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item10 {
    grid-column: 2;
    grid-row: 3;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item11 {
    grid-column: 3;
    grid-row: 3;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item12 {
    grid-column: 4;
    grid-row: 3;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item13 {
    grid-column: 1;
    grid-row: 4;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item14 {
    grid-column: 2;
    grid-row: 4;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item15 {
    grid-column: 3;
    grid-row: 4;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}
.item16 {
    grid-column: 4;
    grid-row: 4;
    font-size: 50px;
    padding: 15px 0;
    border: 5px rgb(58, 91, 180) solid;
    background-color: blue;
}